body {
    margin: 0;
    padding: 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

.box > * {
    margin: 5px 10px;
}

input {
    padding: 8px 16px;
    border-radius: 4px;
}

.dashboard {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dashboard > * {
    margin-bottom: 20px;
}

.timer {
    margin-left: 70px;
    background-color: beige;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 0;
    display: block;
    position: absolute;
}

.radius {
    position: absolute;
    width: 50%;
    height: 1px;
    left: 50%;
    top: 50%;
    background: black;
    transform-origin: left center;
    z-index: 1;
}

.two {
    transform: rotate(-30deg);
}

.three {
    transform: rotate(-60deg);
}

.four {
    transform: rotate(-90deg);
}

.five {
    transform: rotate(-120deg);
}

.six {
    transform: rotate(-150deg);
}

.seven {
    transform: rotate(-180deg);
}

.eight {
    transform: rotate(-210deg);
}

.nine {
    transform: rotate(-240deg);
}

.ten {
    transform: rotate(-270deg);
}

.eleven {
    transform: rotate(-300deg);
}

.twelve {
    transform: rotate(-330deg);
}

.inner {
    position: absolute;
    width: 95px;
    height: 95px;
    background: beige;
    border-radius: 50%;
    z-index: 2;
    margin: 2.5px 2.5px;
}

.fixed, .moving {
    z-index: 3;
}

.fixed {
    width: 40%;
}